dist /dependencies/BulletDep/BulletDep.dist https://raw.githubusercontent.com/OpenEngineDK/dependencies-BulletDep/master/BulletDep.dist

# Pull self
git /extensions/RBPhysics              https://github.com/OpenEngineDK/extensions-RBPhysics.git
git-dev /extensions/RBPhysics          git@github.com:OpenEngineDK/extensions-RBPhysics.git

# get win lib
win32 /libraries http://openengine.dk/data/libraries/bullet-win32.zip
